name: Metrics
on:
  # Запуск за розкладом (щодня)
  schedule: [{cron: "0 0 * * *"}]
  # Можливість ручного запуску
  workflow_dispatch:
  # Запуск при кожному пуші в main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
